<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modal-login">
    <div id="modalLogin" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <h5 class="modal-title">로그인</h5>
                </div>
                <div class="modal-body p-4 text-center">
                    <form id="loginForm" action="/auth/login"  method="POST">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button onclick="login()" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                        <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
                    </form>
                </div>
                <div class="modal-footer flex-nowrap p-0">
<!--                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right"><strong>확인</strong></button>-->
                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('floatingInput').addEventListener('keypress', e => {
            if(e.key === 'Enter') {
                login();
            }
        });

        document.getElementById('floatingPassword').addEventListener('keypress', e => {
            if(e.key === 'Enter') {
                login();
            }
        });

        function login() {
            var loginForm = document.getElementById('loginForm');
            if(!validForm(loginForm)) {
                console.log("ascnc")
                return false;
            }else{
                console.log('asdasd')
            }



            // GLOBAL_GA_EVENTS.login();
            // loginForm.submit();
        }
    </script>
</th:block>
</html>
