<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modal-join">
    <div id="modalSignin" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <h5 class="modal-title">회원가입</h5>
                </div>
                <div class="modal-body p-4 text-center">
                    <form id="joinForm" action="#" name="joinForm">
                        <div class="form-floating">
                            <input type="name"  class="form-control" id="name" name="name" placeholder="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="mobileNum"  class="form-control" id="mobileNum" name="mobileNum" placeholder="mobileNum">
                            <label for="mobileNum">Mobile address</label>
                        </div>
                        <div class="form-floating">
                            <input type="email"  class="form-control" id="email" name="email" placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password"  class="form-control" id="password" name="password" placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <button onclick="signUp()" class="w-100 btn btn-lg btn-primary" type="button">join</button>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        /**
         * 회원가입
         * */

        const signUp = () => {
            var joinForm = document.getElementById('joinForm');

            // console.log(JSON.stringify(joinForm));
            // if(!validForm(joinForm)) {
            //     console.log("ascnc")
            //     return false;
            // }else{
            //     console.log('asdasd')
            // }
            let body = {
                email: $("#email").val(),
                password: $("#password").val(),
                mobileNum: $("#mobileNum").val(),
                name: $("#name").val()
            }
            console.log(JSON.stringify(body));
            postCall('/auth/signup', body)
                .done( () => {
                    alert("Success!")
                })
                .then(() =>{
                    alert("Error")
                })


            joinForm.submit();
        }

    </script>
</th:block>
</html>
