<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/fragments/common_head :: commonHead"/>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <th:block th:replace="common/fragments/sidebar :: sidebarFragment"></th:block>
            <div class="col py-3">
                <th:block th:replace="common/fragments/common_header :: commonHeader"></th:block>
                <th:block layout:fragment="content"/>
                <th:block th:replace="common/fragments/common_footer :: commonFooter"></th:block>
            </div>
        </div>
    </div>
    <th:block th:replace="/auth/modal-join :: modal-join"/>
    <th:block th:replace="/auth/modal-login :: modal-login"/>
</body>

<script th:inline="javascript">
    $(function (){
        $("#sign_up_btn").click( () => {
            $('#modalSignin').modal('show');
        })

        $("#login_btn").click( () => {
            $('#modalLogin').modal('show');
        })
    })
</script>

</html>