<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modal-article-register">
    <div id="modalArticleRegister" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <h5 class="modal-title">글생성</h5>
                </div>
                <div class="modal-body p-4 text-center">
                    <form id="bbsRegistForm" action="#" name="bbsRegistForm">
                        <div class="form-floating">
                            <input type="name"  class="form-control" id="bbsName" name="name" placeholder="name">
                            <label for="bbsName">Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="text"  class="form-control" id="contents" name="contents" placeholder="contents">
                            <label for="contents">Contents</label>
                        </div>
                        <button onclick="regist()" class="w-100 btn btn-lg btn-primary" type="button">Create</button>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const regist = () => {

            // const url = `/article/`
            const body = initArticleInfo()

            postCall('/article/register',body)
                .done(function (result) {
                    location.href = `/bbs`;
                })
                .fail(function(jqXHR) {
                    console.log(jqXHR);
                })
                .always(function() {
                    console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
                })

        }

        function initArticleInfo()
        {
            let bbsName = $('#bbsName').val();
            let description = $('#description').val();
            let isAllowedComment = document.getElementById('isAllowedComment').checked;
            let isAllowedAttach = document.getElementById('isAllowedAttach').checked;

            return {
                'bbsName' : bbsName,
                'description' : description,
                'isAllowedComment' : isAllowedComment,
                'isAllowedAttach' : isAllowedAttach,
            };
        }


    </script>
</th:block>
</html>
